body{
    color: white;
}
header{
    background-color: #2C3E50;
}
.jumbotron{
    background-color: #1ABC9C;
}
.port{
    color: #333333;
}
.bg-brown{
    background-color: #BA4B63;
}
.bg-aqua{
    background-color: #1EA4B6;
}
.bg-black{
    background-color: #140F0F;
}
.bg-azure{
    background-color: #1C83C1;
}
.bg-blue{
    background-color: #0E38B5;
}
.bg-beige{
    background-color: #CCB2A3;
}
.text-main{
    background-color: #1ABC9C;
    min-height: 300px;
}
.bg-bluenavy{
    background-color: #2C3E50;
}
footer{
    background-color: #3A546D;
}
.icons-brand > *{
    font-size: 2rem;    
}
span{
    color: #1ABC9C;
}
.bg-green{
    background-color: #1ABC9C;
}
#contatti .form-control{
    border-radius: 0;
    border-width: 0 0 1px 0;
    padding-left: 0;
}